<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Maquetacion 1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="app.component.html">
  </head>
  <body>
    
    <div class="Encabezadovianca"> <h1>Encabezado</h1></div>
    <div class="Titulovianca"><h1>Titulo</h1></div>
    
      <div class="menu"><h1>Menu</h1></div>
      <div class="contenidovianca"><h1>Contenido</h1>
     
      </div>
      <div class="comercialvianca"><h1>comercial</h1></div>
    
  
    <div class="Pievianca"><h1>Pie Pagina</h1></div>
   <div class="finalidadvianca"><h1>finalidad</h1></div>
  </body>
</html>
<router-outlet></router-outlet>

